<ul class="list-low-high">          
  <% @properties.each do |property| %>
    <%= link_to land1_home_index_path(:id => property.id) do %>
      <li class="border">
        <div class="pen-heading col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <% image = property.try(:images).try(:first).try(:image).try(:url) %>
          <%= image_tag(image) %>
        </div> 
                <div class="pen-heading col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <%= property.location.titleize %> 
               </div>
        <div class="pen-heading col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <%= property.area %>
          <p>Sqft</p>
        </div>
        <div class="pen-heading col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <i class="fa fa-inr"></i> 
          <%= property.price %>
        
        </div>  
        <hr/>
      </li>
<% end %>
  <%end%>
</ul>

<style>
  .border {      
    border: 1px solid #CCC; 
  }
</style>