<div class="home-bnr">
  <div class="container">
    <div class="content-banner">
       <% if params[:state].present? %>
      <h1>Choose A City to Explore</h1>
      <%else%>
        <h1>Choose A State to Explore</h1>
          <% end %>
    </div>
    <div class="box-city">
              
      <div class="row" style="<%= params[:state] ? params[:state] == 'KA' ? ' ' : params[:state]=='AP' ? 'left: 80px;position: relative;' : ' ' : 'position: relative;left: 100px;'%>">
        <ul class="ch-grid">
          <% @states = [["Tamilnadu","TN"],["Karnataka","KA"],["Andhra Pradesh","AP"]] %>
          <% @cities = params[:state] == 'KA' ? [["Bangalore","12.97","77.59"],["Kanakapur","12.550","77.4170"],["Mysore","12.3106457","76.6356898"],["Tumakuru","13.340","77.100"],["Chikkaballpur","13.43","77.72"],["Gauribidanur","13.59","77.52"],["Kolar","13.13","78.13"],["Bhagepalli","13.78","77.79"]] : params[:state] == 'AP' ? [["Anantapur","14.67","77.59"],["Chittoor","13.21","79.100"],["Hindupur","13.83","77.49"],["Kadri","14.1138","78.161218"],["Madanapalli","13.55","78.50"],["Penukonda","14.08","77.58"]] : [["Berigai","12.805668","77.9713"],["Jawalgiri","12.51753","77.643835"],["Hosur","12.73","77.83"],["Denkanikottai","12.53","77.79"],["Thally","12.58","77.66"],["Bagalur","12.85","77.83"],["Kelamangalam","12.60","77.85"],["Shoolagiri","12.66","78.01"]] %>
          <% @sts = params[:state].present? ? @cities : @states %>
          <% if !params[:state].present? %>
            <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
              <div class="ch-item">
                <div class="ch-info">
                </div>
              </div>
            </li>
          <% end %> 
          <% @sts.each_with_index do |name, index| %>
            <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front">
                    <h3><%= link_to name[0], params[:state] ? land_home_index_path(:city => name[0], :lat => name[1], :lon => name[2], :type => params[:type]) : home_index_path(:state => name[1], :type => params[:type]), :style => 'color: white;font-size: 14px;' %></h3>
                  </div>
                  <div class="ch-info-back <%= params[:state] %> ch-img-<%= index+1 %>" onclick="javascript: location.href = <%= "'#{params[:state] ? land_home_index_path(:city => name[0], :lat => name[1], :lon => name[2], :type => params[:type]) : home_index_path(:state => name[1], :type => params[:type])}'" %>">
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="clearF"></div>

    </div>
  </div>
</div>

 




