<article>	
  <div class="main-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/home/main_home" title="Home">Home</a><i class="fa fa-chevron-right"></i></li>
      <li><a href='/home/land?lat=<%= @lat %>&lon=<%=@lon%>&city=<%= @city %>' title="Mumbai"><%= @city %></a><i class="fa fa-chevron-right"></i></li>
      <li class="active"></li>
    </ol>
  </div>

  <div class="left-column"> 
    <div class="right-column">    
    
      
       <div class="bars-btn">
        <center>
          <span class="text-results">
            <%= @properties.count %>
            <b>Results</b>
          </span>
        </center>
      </div>

      <div class="box-result results-collapse contentResult" >
        
      </div>
    </div> 

    <div style='width: 900px;'  class="img_map" style="margin-left: 10px;">
      <div id="map" style='width:900px; height: 590px;'></div>
    </div>
  </div>  

  <div class="clearF"></div>        	
</article>
<br/>







<script type="text/javascript">
  var handler = Gmaps.build('Google');
  var mapOptions = {Zoom: 7, center: { lat: 13.612518, lng: 77.51549},
 mapTypeId: google.maps.MapTypeId.MAP};
  handler.buildMap({provider: mapOptions, internal: {id: 'map'}}, function() {
    // I assume this is the way you retrieve the amrkers array
    var json_data = <%=raw @hash.to_json %>;
    var markers = handler.addMarkers(json_data);
    _.each(json_data, function(json, index) {
      var marker = markers[index];
      json.marker = marker;
      
      google.maps.event.addListener(marker.getServiceObject(), 'click', function() {
       // window.location.href = '/home/land1?id=' +json.id ;
 handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  });
</script>