<body class="landpage left-landpage-a">
  <article> 
    <div class="main-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="/home/main_home" title="Home">Home</a><i class="fa fa-chevron-right"></i></li>
        <li><a href='/home/land?lat=<%= @lat %>&lon=<%=@lon%>&city=<%=@property.city %>' title="Mumbai"><%= @property.city %></a><i class="fa fa-chevron-right"></i></li>
        <li><a href="/home/land1?id=<%= @property.id %>" title="Land">land</a><i class="fa fa-chevron-right"></i></li>
             </ol>
    </div>

    <div class="left-column">
      <div style='width: 900px;'  class="img_map">
        <div id="map" style='width:900px; height: 590px;'></div>
      </div>
    </div>  

    <div class="right-column">
      <div class="box-btn">
        <a href='#' onclick='history.go(-1);
            return false;' class = "btn-login btn_back" ><i class='fa fa-arrow-circle-left'></i>Back</a>
           <%= link_to "Gallery", gallery_home_path(@property), :class => "btn-login btn_back", :style => 'position: relative; float: left;' %>
        <a class="btn-login btn_back" href="/home/land1?id= <% if @properties.first.id == @property.id %><%= @properties.first.id %><%else%> <%=(@property.id)-1 %><%end%>" title="Prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-login btn_back" href="/home/land1?id=<% if @properties.last.id == @property.id %><%= @properties.last.id %><%else%> <%=(@property.id)+1 %><%end%>" title="Next"> <i class="fa fa-chevron-right"></i></a>      
        <%#= ((current_user and @property.document.url.present?) ? (link_to "Download", @property.document.url, :class => 'btn-login btn-back', :style => 'float: right;') : (@property.document.present? ? (link_to "Download", "#", :onclick => 'alerte()', :class => 'btn-login btn-back', :style => 'float: right;') : (link_to "Download", "#", :onclick => "property()", :class => 'btn-login btn-back'))) %>
      </div>   

      <div class="land_img">
        <!--% if !@property.video_url.blank?-- %>
          <iframe width="385" src="http://www.youtube.com/embed/<%#= @property.video_url.split("?v=")[1].split("&")[0].gsub( /(fo+)bar/, '\1baz' ) %>" frameborder="0"></iframe>
        <!--% else %-->
          <%#= image_tag("video.jpeg", :width => 385) %> 
        <!--% end %-->
      </div>

  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Key Information">
                <i class="fa fa-info"></i> Key Information
              </a>
            </h4>
          </div>
                  <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row price">             
                <div class="col-xs-4 ">Price
                  <p<strong><i class="fa fa-inr"></i></strong><%= @property.price %></p>
                                  </div>
                  
                  <div class="col-xs-4">Type of Land<p><%= @property.type_of_land %></p></div>
               <div class="col-xs-4">
              Area
                  <p><%= @property.area %> <span>sqft</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" title="Details">
                <i class="fa fa-bars"></i> Details
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="text_details">
                


                    <h3>Image</h3>

                    <%=  image_tag(@property.images.first.image.url(:medium))%>
                    <h3>Description</h3>
                    <%= @property.description.titleize %>
                         
                            
                          </div>            
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a  class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" title="Commute Options">
                            <i class="fa fa-car"></i> Commute Options
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title panal-icon icon_bus">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" title="Bus Station">Bus Station</a>
                                </h4>
                              </div>

                              <div id="collapse1" class="panel-collapse collapse in">
                                <%= link_to land1_home_index_path(:id => params[:id], type: "bus") do %>
                                  <div class="panel-body" id="bus_option">
                                    <!--% @distance1 = Geocoder::Calculations.distance_between([@property.latitude,@property.longitude], [@property.bus_lat,@property.bus_lng]).round(3) %-->
                                    <%#= @distance1.present? ? ("#{@distance1} miles") : ("None Found") %>
                                  </div>
                                <% end %>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title panal-icon icon_train">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse2" title="Train Station"> Train Station</a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                  <%= link_to land1_home_index_path(:id => params[:id], type: "train") do %>
                                    <div class="panel-body" id="train_option">
                                      <!--% @distance2 = Geocoder::Calculations.distance_between([@property.latitude,@property.longitude], [@property.train_lat,@property.train_lng]).round(3) %-->
                                      <%#= @distance2.present? ? ("#{@distance2} miles") : ("None Found") %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title panal-icon icon_ariports">
                                    <a  class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse3" title="Airports">Airports</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <%= link_to land1_home_index_path(:id => params[:id], type: "airport") do %>
                                    <div class="panel-body"  id="airport_option">
                                      <!--% @distance3 = Geocoder::Calculations.distance_between([@property.latitude,@property.longitude], [@property.airport_lat,@property.airport_lng]).round(3) %-->
                                      <%#= @distance3.present? ? ("#{@distance3} miles") : ("None Found") %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title panal-icon icon_custom">
                                    <a  class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse4" title="Custom">NearByLocations</a>
                                  </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <h3>Nearby Properties</h3>
                                    <ul>
                                      <!--% for property in @property.nearbys(100) %-->
                                        <li><%#= property.address.titleize %> (<%#= property.distance.round(2) %> miles)</li>
                                      <!--% end %-->
                                    </ul> 
                                  </div>
                                </div>
                              </div>                        
                            </div>
                            <p class="btn-top">
                              <a class="btn-login btn_back" href="#" title="Back to Top"><i class="fa fa-angle-up"></i>Back to Top</a>
                            </p>  
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a  class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapsefour" title="Contact">
                              <i class="fa fa-phone"></i> Contact
                            </a>
                          </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                          <div class="panel-body">
                            
                            <div class="land_fom">
                              <div class="user-box crow">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2"><%=  image_tag("img_user.png", :alt => 'img_user.png')%></div>
                      
                              </div>
                              <div class="user_details">
                                <%= form_for :contact, :url => '/contact', :method => 'post' do |f|   %>
                                  <p> <%= f.text_field :name, :class=>"form-control" ,:placeholder=>"Name", :title=>"Name"%> </p>
                                  <p> <%= f.text_field :email, :class=>"form-control", :placeholder=>"E-mail", :title=>"E-mail"%> </p>
                                  <p> <%= f.text_field :mobile, :class=>"form-control", :placeholder=>"Phone", :title=>"Phone"%> </p>

                                  <p class="top-spacing">
                                    <%= f.submit 'Send', :class=>"btn-send", :title=>"Send"%>
                                    <a class="btn-login btn-close" href="/home/land1" title="Close"> Close </a> 
                                  </p>
                                <% end  %>
                              </div>
                            </div>              
                          </div>
                        </div>
                      </div>                        
                    </div>

                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>



    </div>           


  


    <div class="clearF"></div>    
  </article>
  </br>
  </br>
  </br></br></br></br></br>
</body>



<script src="/assets/jquery.bxslider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.bxslider').bxSlider();
  });
  function alerte() {
    alert("Please Login!!")
    return false;
  }
  function property() {
    alert("No Document!!")
    return false;
  }
</script>

<style>
  div.map_container_renamed #map {
    width: 100%;
    height: 650px;
  }
  div.map_container_renamed {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  }
</style>

<script type="text/javascript">
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();
  function calcRoute() {
    var origin = new google.maps.LatLng(<%= @property.latitude %>, <%= @property.longitude %>);
<% if params[:type] == "airport" %>
      var destination = new google.maps.LatLng(<%= @property.airport_lat %>, <%= @property.airport_lng %>);
<% elsif params[:type] == "train" %>
      var destination = new google.maps.LatLng(<%= @property.train_lat %>, <%= @property.train_lng %>);
<% elsif params[:type] == "bus" %>
      var destination = new google.maps.LatLng(<%= @property.bus_lat %>, <%= @property.bus_lng %>);
<% else %>
      var destination = new google.maps.LatLng(<%= @property.latitude %>, <%= @property.longitude %>);
<% end %>
    var request = {
      origin: origin,
      destination: destination,
      travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }
  calcRoute();
  var handler = Gmaps.build('Google');
  var mapOptions = {mapTypeId: google.maps.MapTypeId.MAP};
  handler.buildMap({provider: mapOptions, internal: {id: 'map'}}, function() {
    directionsDisplay.setMap(handler.getMap());
  });
</script>

<script>
  $(document).on("click", "#dialog_show", function(){
    $("#dialog").dialog();
  })
</script>
