  <head>
    <meta charset="utf-8">
    <title>Welcome To SVR Group	</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo1.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/style-1.css">
    <style>
      a.property-select{ color:#FFFFFF; background:#4BB285; border:1px #CCC solid; padding:10px 25px 10px 25px; font-size:13px;}
      a.property-select:hover{ color:#FFFFFF; background:#333333; border:1px #CCC solid;}
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <div class="mt-sidebar"> 
    <span class="close-mt-sidebar"><i class="fa fa-caret-left"></i> Close Sidebar</span> 
    <nav class="main-nav"></nav>      
  </div>
  <div class="slider-wrapper fullscreen">
    <div class="slide_bg" data-stellar-background-ratio="0.3">
      <div class="container"> 
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h1 style="color:#FFF; margin-top:0px;">
                <a href="<%= home_index_path %>">
                  <img src="/assets/SVR-1.jpg" class="logo_new">
                </a>
              </h1>

              <div class="project-container">
                <div class="project-type">
                  <div class="text-label"><a href="<%= home_index_path(:type=>"agriculture") %>" class="property-select">Agriculture Lands</a></div>
                </div>
                <div class="project-type">
                  <div class="text-label"><a href="<%= home_index_path(:type=>"farm") %>" class="property-select">Farm Lands</a></div>
                </div>
                <div class="project-type">
                  <div class="text-label"><a href="<%= home_index_path(:type=>"commercial") %>" class="property-select">Commercial Lands</a></div>
                </div>
                <div class="project-type">
                  <div class="text-label"><a href="<%= home_index_path(:type=>"industrial") %>" class="property-select">Industrial Lands</a></div>
                </div>

                <div class="project-type">
                  <div class="text-label"><a href="<%= home_index_path(:type=>"residential") %>" class="property-select">Residential Lands</a></div>
                </div>
                <div class="project-type">
                  <div class="text-label"><a href="<%= home_index_path(:type=>"barren") %>" class="property-select">Barren Lands</a></div>
                </div>

              </div>

              <div id="sliderFrame">
                <div id="slider">
                  <a href="" target="_blank">
                    <img src="/assets/img/file0001811490083_small.jpg" alt="Agriculture Lands" />
                  </a>
                  <img src="/assets/img/agriculture.jpg" alt="Farm Lands" />
                  <img src="/assets/img/commercial.jpg" alt="Commercial Lands" />
                  <img src="/assets/img/industrial-land1.jpg" alt="Industrial Land" />
                  <img src="/assets/img/residential.jpg" alt="Residential Land"  />
                  <img src="/assets/img/barren-land.jpg" alt="Barren Land"  />
                </div>
                <div id="htmlcaption" style="display: none;">
                </div>
              </div>
              <div class="row">
               <div class="col-sm-3" >
                <div class="fb-btn-big"> <a  href="https://www.facebook.com/svrfarms">  
                  <img src="/assets/fb.png"></a>
                </div>
              </div>
              <div class="col-sm-6">
                <span class="project-type">
                  <span class="text-label">
                    <a href="#" class="property-select"  onclick="javascript: signup();">Post Requirements</a>
                  </span>
                </span>
                <span class="project-type">
                  <span class="text-label">
                    <a href="/list_property" class="property-select">List Property</a>
                  </span>
                </span>
              </div>
            </div>

          </div>
        </div>   
      </div>
    </div>

    <div class="topbar">     
      <center>
        <table>
          <tr>
            <td> <a href="/about" title="ABOUT US">About Us</a></td>         
            <td> <a href="/privacy_policy" title="SERVICES">Services</a></td>  
            <td><a href="/contactus/new" title="CONTACT US">Contact us</a></td>  
          </tr>

        </table>
      </center> 
    </div>

  </div>

</div>  
<div class="copyright">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p  style="color: white;">&copy; Copyright 2013. All Rights Reserved.</p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">          
    <a href="#" title="Privacy policy" style="color:#fff; ">Privacy policy |</a>
    <a href="#" title="Terms &amp; conditions" style="color:#fff;">Terms &amp; conditions</a>                    
  </div>       
  <div class="clearF"></div>  
</div>  
</div>
</div>
</div>

  <div id='overlay' style='filter:alpha(opacity=50);' onclick="hide_popup();"></div>
  <div align='center' id='popup_box'>
    <div style='float: right; margin-top: -40px;margin-right:-40px'></div>
    <div id='popup_body' style='float:right'></div>
  </div>

<style>
.fb-btn-big img{ width:60px; height: 60px; text-align:left;}


    .overlay1{
      display: none;
      background-color: #000000;
      height:500px;
      left:0;
      position:fixed;
      top:0;
      width:100%;
      z-index: 1000;
      width: 100000px;
      height: 941px;
      opacity: 1.0;
    }
    #popup_box{
      display:none;
      height:auto;
      width: 450px;
      left:34%;
      margin: -220px 0 0 -250px;
      padding:15px;
      position:fixed;
      top:5%;
      z-index:2000;
      font-size: 15px;
    }

  .topbar {
    background: linear-gradient(to bottom, #2a9e61 0%, #3aba82 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #cbcbcb;
    margin: 0;
    padding: 0;
    width: 100%;

  }


  ul li{
    list-style-type:none;
  }
  .copyright {
    background-color: #2e2e2e;
    font-size: 12px;
    padding: 8px 0;
    width: 100%;
    position:absolute;

    top:761px;
  }

  .copyright p {
    padding-bottom: 0;
    padding:5px;
  }  
  td{
    padding:10px;
  }
</style>


