<div class="container" style="min-height: 745px;">
  <div class="row" style="width: 50%;float: left;">
    <div class="col-lg-12">
      <div class="page-header" style="border: none;">
        <h1>Contact Us</h1>
      </div>
      <h3> <b> Get in Touch </b>  </h3> 

      <%= form_for @contactu, :url => contactus_path do |f| %>
      <% if @contactu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contactu.errors.count, "error") %> prohibited this contact from being saved:</h2>
        <ul>
          <% @contactu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>  
      <div class="control-group">
        <%= f.label :name %>
        <div >
          <%= f.text_field :name%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%=f.label :subject,:class => 'control-label'%>
        <div class ="controls">
          <%=f.text_field :subject, :class => 'text_field'%>
        </div>
      </div>

      <div class="control-group">
        <%=f.label :message,:class => 'control-label'%>
        <div class ="controls">
          <%=f.text_area :message, :class => 'text_area'%>
        </div>
      </div>
      <%= f.submit "Send", :style=>"margin-left:90px; background-color: #3BAAF5;" %>
      <%  end %>

      <div class='addrs' >
        <h3 >
          <b style="color:green;">SVR GROUP Developers and Builders</b>
        </h3><br/>
        <p> #1063,22nd 'B' main,22nd Cross, 2nd Sector</p>
        <p>HSR Layout,Bangalore 560102,Karnataka,India. </p>
        <p>www.svrgroups.co.in </p>
        <p> Chandrasekara Reddy 9845959397</p>
        <p>Raghvendra reddy 9986410709</p>
      </div>

    </div>
  </div>

  <div id="googleMap" class="map1"  style="width:600px;height:500px;top: 135px;"></div>
</div>


<script>
  var myCenter = new google.maps.LatLng(12.908633, 77.647517);
  function initialize()
  {
    var mapProp = {
      center: myCenter,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    var marker = new google.maps.Marker({
     
      position: myCenter,
      title: 'SVR GROUP Developers and Builders'
      
      <%#*animation: google.maps.Animation.BOUNCE,%>
    });
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<style>
  .addrs{
    position:relative;
    top:7px;
    left:23px;
  }
  
  p {
    margin: -10px;
    padding-bottom: 15px;
  }
  
</style>