      <h1>Hello Admin, </h1> <br /><br />
      <h4>Please check  details of Property requirements</h4>

      Requirement: <b> <%= @a %> </b><br />
      State: <b> <%= @b %> </b><br />
      Username: <b> <%= @c %> </b><br />
      Email: <b> <%= @d %> </b><br />
      Phone: <b> <%= @e %> </b><br />
      Message: <b> <%= @f %> </b><br />